################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/UrbanFarmingWeb.UI/.vs/UrbanFarmingWeb.UI/FileContentIndex
# Ignorar diretórios nos, obj e bin
nos/
**/obj/
**/bin/
**/Debug/
/AppMobileUrban/AppMobileUrban.Android/AppMobileUrban.Android.csproj.user
